# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: false
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
ColumnLimit: 100
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
FixNamespaceComments: false
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '"[[:alnum:]._-]+"'
    Priority: 1
    SortPriority: 1
  - Regex: '^((<|").*/)'
    Priority: 2
    SortPriority: 2
  - Regex: "<[[:alnum:]._-]+>"
    Priority: 3
    SortPriority: 3
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 2
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 200
ReflowComments: IndentOnly
RemoveEmptyLinesInUnwrappedLines: true
SortIncludes: true
SortUsingDeclarations: false
SpacesInContainerLiterals: false
TabWidth: 2
UseTab: Never
